body {
  background-color: #f2f2f2;
  color: #555;
  font: 300 16px Lato;
}

ul {
  list-style-type: none;
}

/* Titles */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  font: 300 14px Raleway;
}

/* Paragraph & Typographic

p {
  line-height: 28px;
  margin-bottom: 25px;
}
*/

/*---------------------------------------------------
SECTION WRAPS
---------------------------------------------------*/

/* Header Wrap */
.jumbotron {
  background: #1cbcad url(../images/header-bg-4.jpg) no-repeat scroll center center;
  text-align: center;
  margin: 0 auto;
  min-height: 500px;
  padding-top:150px;
  width: 100%
}

.jumbotron h1 {
  font-size: 80px;
  color: white;
}

.jumbotron h3 {
  font-size: 20px;
  color: white;
}

.jumbotron h3 a {
  color: white;
}

/* Intro Wrap */

.intro {
  background: #2c3e50;
  color: white;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}

.intro h5 {
  color: white;
}

.intro span {
  color: white;
  /* font-size: 20px; */
  padding-right: 8px;
  vertical-align: middle;
}

.skillswrap {
  background: #2c3e50;
  padding: 60px 60px;
  color: white;
}

.skillswrap h5,
.skillswrap p {
  color: white;
}

.footerwrap {
  background: #2f2f2f;
  padding-top: 50px;
  padding-bottom: 50px;
}

.footerwrap p {
  color: white;
}

.footerwrap h5 {
  color: white;
}

.footerwrap a {
  color: white;
}

.vcard a {
  color: wheat;
  font-size: 18px !important;
  padding: 10px 0 10px;
  margin: 0;
  text-decoration: none;
}

.vcard .fas,
.footerwrap .fab {
  font-size: 26px;
  margin-left: 0;
  padding: 10px;
}
/* Global Values */

.description p {
  color: #2f2f2f
}

.item-header {
  color: #34495e;
  font-weight: 700;
}

.more {
  color: #95a5a6;
}
