body {
  background-color: #f2f2f2;
  color: #555;
  font: 300 16px Lato;
}

ul {
  list-style-type: none;
}

/* Titles */

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #333;
  font: 300 14px Raleway;
}

/* Paragraph & Typographic

p {
  line-height: 28px;
  margin-bottom: 25px;
}
*/

.navbar-nav a {
  text-align: center;
}
/*---------------------------------------------------
SECTION WRAPS
---------------------------------------------------*/

/* Header Wrap */
.jumbotron {
  background: #1cbcad url(../images/header-bg-4.jpg) no-repeat scroll center center;
  text-align: center;
  margin: 0 auto;
  min-height: 500px;
  padding-top:150px;
  width: 100%
}

.jumbotron h1 {
  font-size: 80px;
  color: white;
}

.jumbotron h3 {
  font-size: 20px;
  color: white;
}

.jumbotron h3 a {
  color: white;
}

/* Intro Wrap */

.intro {
  background: #2c3e50;
  color: white;
  margin: 0 auto;
  padding: 60px 0;
}

.intro h5 {
  color: white;
}

.intro span {
  color: white;
  /* font-size: 20px; */
  padding-right: 8px;
  vertical-align: middle;
}

.skillswrap {
  background: #2c3e50;
  padding: 60px 60px;
  color: white;
}

.skillswrap h5,
.skillswrap p {
  color: white;
}

.footerwrap {
  background: #2f2f2f;
  padding: 50px 0;
}

.footerwrap p {
  color: white;
}

.footerwrap h5 {
  color: white;
}

.footerwrap a {
  color: white;
}

.vcard a {
  color: wheat;
  font-size: 18px !important;
  padding: 10px 0 10px;
  margin: 0;
  text-decoration: none;
}

.fas,
.footerwrap .fab {
  font-size: 26px;
  margin-left: 0;
  padding: 10px;
}
/* Global Values */

.description p {
  color: #2f2f2f
}

.item-header {
  color: #34495e;
  font-weight: 700;
}

.more {
  color: #95a5a6;
}

/*---------------------------------------------------
3.1 Topbar
---------------------------------------------------*/

#section-topbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  overflow: visible;
  font: normal 16px/24px 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#section-topbar a {
  color: #fff;
}

#topbar-inner {
  background: #111;
  line-height: 0;
  text-align: center;
}

/*
Top Bar

By default, top navigation bar uses "fixed" position
*/

#section-topbar ul#nav {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
  border-right: 1px solid #222;
  /* For IE, the outcast */
  zoom: 1;
  *display: inline;
}

#section-topbar ul#nav>li {
  display: block;
  float: left;
  padding: 0;
}

#section-topbar ul#nav a {
  display: block;
  font: normal 11px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  padding: 18px 20px 18px 20px;
  border-left: 1px solid #222;
}

#section-topbar ul#nav a:focus {
  background: #111;
  text-decoration: none;
  border-left: 1px solid #111;
}

#section-topbar ul#nav a:hover {
  background: #222;
  text-decoration: none;
  border-left: 1px solid #111;
}

#section-topbar ul#nav .active a {
  background: #44bbaa;
  border-left: 1px solid #111;
}

#section-topbar ul#nav .active a:hover {
  background: #44bbaa;
}

#section-topbar i {
  font-size: 25px;
}
